@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: var(--bs-indigo) !important;
    
}

nav .navbar{
    background-color: var(--bs-indigo)  !important;
    
}

.navbarstyle {
    margin: 2.5%;
}

.navbar-brand {
    color:black !important;
    font-weight: bolder;
    font-size: 2rem !important;
    
}

.nav-link{
    color:white !important;

    &:hover {
        color:black !important;
    }

    

}

.active {
    color: var(--bs-orange)  !important;
}

#navbarNav {
    justify-content:end;
}

div img {
    width:100%;
    height:400px;
    object-fit:cover;
}

.btn {
    height: 50px;
    color: white;

}

.btn-warning {
    background-color: var(--bs-orange)  !important;
    border-color: var(--bs-orange)  !important;

    // &:hover  {
    //     color: #000;
    //     background-color: #ffca2c;
    //     border-color: #ffc720;
    //   }

  }



.container2 {
    
    margin-top: 5%;

    h1{
        font-weight: bolder;
    }

    p {
        font-weight: bold;
    }
}

.col1 {
text-align: left;
align-self: center;
}

.col2 {
  
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';